* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: sans-serif;

    --bg-color: #ffb18c;
    --faq-color: #eee;
    --dark-color: #ff916c;
}

.faq {
    max-width: clamp(300px, 100%, 700px);
    margin: auto;
}

details {
    background-color: var(--faq-color);
    margin: 7px;
    padding: 7px;
    max-height: 40px;
    transition: max-height 2s;
    overflow: hidden;
}

details[open] {
    max-height: 400px;
}

details[open] .content {
    animation: aparecer 1s .3s both;
}

details b {
    background-color: var(--dark-color);
    padding: 4px 5px;
    border-radius: 9px;
}

summary {
    font-size: 1.3rem;
    /* con el user-select: none; prohibimos la selección de los elementos */
    user-select: none;
    position: relative;
}

summary::marker {
    content: '';
}

summary::before {
    content: '+';
    color: var(--dark-color);
    position: absolute;
    right: 0;
    bottom: 0;
    font-weight: 700;
}

details[open] summary::before {
    content: '-';
}

.content {
    /* padding: 5px 20px 10px; */
    padding: 10px 20px;
    margin-top: 7px;
    /* border-top: 2px solid var(--bg-color); */
}

@keyframes aparecer {
    from {
        opacity: 0;
        translate: 0 -20px;
        border-top: 2px solid var(--faq-color);
    }
    30% {
        border-top: 2px solid var(--faq-color);
    }
    to {
        opacity: 1;
        translate: 0 0;
        border-top: 2px solid var(--bg-color);
    }
}