* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 2px;
}

body {
    font-family: sans-serif;
    background-color: #eee;
    font-size: 16px;
}

/* DE ESTA MANERA, CON EL SIGNO > INDICAMOS QUE CIERTA PROPIEDAD SE EJCUTARÁ SOLO SI ESTÁ DENTRO DE PADRE, ES DECIR EN ESTE EJMPLO NUESTRO strong NO SE ESTÁ EJECUTANDO CON EL COLOR ROJO, DEBIDO A QUE NO ES UN HIJO DE ul, ES UN HIJO DE li, SI NOSOTROS NO AGREGAMOS EL SIMBOLO > AHORA SÍ SE AGREGARÍA EL COLOR ROJO YA QUE ESTAMOS INDICANDO QUE SOLO SI strong SE ENCUENTRA DENTRO DE ul, NO IMPORTA EN QUÉ PARTE ESTÉ, MIENTRAS ESTÉ ADENTRO */
/* ES DECIR AL FINAL ES UN SELECTOR POR HIJO DIRECTO */
ul > strong {
    color: #f00;
}

/* SELECTOR ADYACENTE */
/* ESTE BÁSICAMENTE INDICA QUE SI HAY CIERTAS COSAS QUE SE CUMPLEN, SE VA A EJECUTAR, ES DECIR QUE SI TENEMOS ALGÚN ELEMENTO Y DESPUÉS DE ESTE (** NO DENTRO, SINO QUE DESPUÉS, OSEA YA AL HABERSE CERRADO EL ELEMENTO **), SE EJECUTARÁ */
li + p {
    color: #00f;
}

/* SELECTOR DE HERMANOS GENERALES */
/* ESTE FUNCIONA COMO EL DE ARRIBA, SOLO QUE EN VEZ DE QUE SOLO SE APLIQUE AL ADYACENTE, SE APLICA A TODOS LOS ADYACENTES, ES DECIR MIENTRAS QUE EL DE ARRIBA SOLO SE APLICABA A LA PRIMER p DEPSUÉS DEL li, ESTE APLICA A TODOS LOS h2 DESPUÉS DEL li */
li ~ h2 {
    color: #0f0;
}

/* ESTE ES EL QUE YA CONOCES DE TODA LA VIDA, QUE SOLO CON QUE SE CUMPLA QUE a ESTÁ ADENTRO SE VA A EJECUTAR */
ul a {
    color: #cc5;
    font-size: 1em;
}

.prueba {
    font-size: 3rem;
}