* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    font-family: sans-serif;
    color: #ddd;
    display: flex;
}

.text-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    filter: 
    drop-shadow(0 0 15px #ddd9)
    drop-shadow(0 0 2px #ddd9)
    drop-shadow(0 0 12px #ddd9)
    drop-shadow(0 0 1px #ddd);
}

.text {
    letter-spacing: 3px;
    animation: grow 1s both steps(7);
    overflow: hidden;
    position: relative;
}

.text::selection {
    background-color: transparent;
}

.text::before {
    content: '';
    width: 1px;
    height: 120%;
    background-color: #ddd;
    position: absolute;
    right: 0;
    border-radius: 4px;
    animation: titilar 1.7s infinite;
}

@keyframes grow {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes titilar {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}